body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: rgb(200, 200, 200);

  background: radial-gradient(#ff5858, #f857a6, #b845f4, #5a5de8, #00d4ff, #26c281, #ffc107);
  background-size: 1200% 1200%;
  animation: rainbow 30s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

section {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(200, 200, 200);
  display: flex;
  width: 200px;
  height: 100px;
  padding: 30px;
  margin: 10px;
  border: 1px solid rgba(100, 100, 100, 0.25);
  border-radius: 20px;
  background-color: rgba(35, 35, 35, 0.45);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  transition: 300ms;
}

a:hover {
  margin-top: -1px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.60);
}