* {
    font-size: xx-large;
    color: #cfcfcf;
}

html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1f21;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    margin: 1rem;
    background-color: #1e1f21;
    padding: 1rem 1rem;
    border: 0.1rem solid #cfcfcf;
    border-radius: 0.3rem;
    width: 15rem;
    height: 10rem;
    resize: none;
}

textarea:focus,
input:focus {
    outline: 0;
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
}